body {
    margin: 0;
    padding: 0;
}

header {
    background: azure;
    color: steelblue;
    font-size: 4vw;
    font-variant: small-caps;
    font-weight: 800;
    height: 10vw;
    padding-top: 5vw;
    text-align: center;
    width: 100vw;
}
.book-add-form {
    border: 2px solid #888;
    display: block;
    height: 12vw;
    width: 30vw;
}
    .book-add-form input[type=file] {
        position: absolute;
        height: 10vw;
        visibility: hidden;
        width: 7vw;
    }
    .book-add-form label[for=cover] {
        border: 1px solid #777;
        float: left;
        height: 10vw;
        width: 7vw;
    }
    .book-add-form img {
        max-height: 10vw;
        max-width: 7vw;
    }

.book-item {
    display: inline-block;
    margin: 1vw;
}
.book-item img {
    max-height: 30vw;
    max-width: 20vw;
}