body {
    background: #bebebe;
    margin: 0;
    padding: 0;
}

.picture {
    background: snow;
    border: 2px solid #999;
    box-shadow: 7px 7px 3px #777;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    width: 25vw;
}
    .picture img {
        max-height: 10vw;
        max-width: 15vw;
    }
    .picture p {
        font-size: 3vw;
    }
    .picture tt {
        visibility: hidden;
    }
    .picture button {
        color: maroon;
    }
.tool-button {
    background: url("../img/edit_icons.png");
    background-size: 300%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 2px;
    width: 50px;
}
.tool-download {
    background-position: -95px -50px ;
}
.tool-delete {
    background-position: -95px -0px;
}
.tool-edit {
    background-position: 0px 0px;
}
.tool-confirm {
    background-position: -50px -50px;
    visibility: hidden;
}
.tool-cancel {
    background-position: -50px 0px;
    visibility: hidden;
}